body {
    font-family: "montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-bold";
    font-weight: 600;
}

p {
    color: #8f8f8f;
}

/* headings  */
.bigger-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem; /* bigger[first attraction because to make visual heirarchy for user. */
    line-height: 1.5;
    font-weight: 800;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* containers  */

.container-fluid {
    padding: 7% 15%;
}

/* button styles */

button a:link {
    color: white;
    text-decoration: none;
}

button a:visited {
    color: white;
    text-decoration: none;
}

/* coloured sections  */

.colored-section {
    background-color: #ff4c68;
    color:#fff;
}

.white-section {
    background-color: #fff;
}

/* navigation bar  */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "ubuntu";
    font-weight: bold;
    font-size: 2.5rem;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "montserrat-light";
}

/* title section  */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* download-buttom  */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title image  */

.title-image {
    /* position: relative;
    top: 120px; */
    /* width: 60%; */
    position: absolute;
    right: 25%;
    transform: rotate(25deg);
    border: 2px solid;
    border-radius: 25px;
    /* padding-left: 10px; */
    
}

/* features section  */

#features {
    position: relative;
}

.feature-box {
    padding: 5%;
}

.features-title {
    font-size: 1.5rem;
}

/* features icons  */

.icon {
    font-size: 3.5rem;
    color: #ef8172;
}

.icon:hover {
    border-radius: 100%;
    box-shadow: 5px 3px 0 3px #ff4c68;
}

 /* testimonials */

#testimonials {
    background-color: #f7697e;
}

#testimonials img {
    border-radius: 100%;
    width: 20%;
    margin: 20px;
}

.testimonials-heading {
    text-align: left;
    padding: 5% 2% 0;
    font-size: 3.2rem;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* price */

#press {
   background-color: #f7697e;
   padding: 3%;
}

#press img {
    width: 15%;
    margin: 20px 10px 50px;
}

/* pricing section */

#pricing {
    padding: 100px;
}

#pricing .row {
    margin: 0;
    
}
.pricing-column {
    padding: 2% 3%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}
/* #pricing .card {
    
} */

 /* footer section  */

 #footer div {
    padding: 2% 15%;
 }

@media (max-width: 1065px) {

    /* navbar brand font setting */

    .navbar brand {
       font-size: 1.5rem;
    }

    /* headings  */
    .bigger-heading {
        font-size: 2.5rem;
    }

    .navbar-brand {
         font-size: 1.5rem;
    }


    /* title section  */

    #title .container-fluid {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }

    /* testmonials section  */
    
    .testimonials-heading {
        font-size: 1.7rem;
    }

    .testimonial-text {
        font-size: 1.5rem
    }

    .section-heading, .price-text {
        font-size: 1.8rem;
    }

    #testimonials img {
        width: 30%;
    }
    /* pricing */

    #pricing {
        padding: 100px 20px;
    }

    .card {
        border: 1px solid;
    }
    
}
